.text-decorator-none{
    text-decoration: none;
}

.button1{
    background-color: #8b0000 !important;
 }

 .button2{
    background-color: black !important;
 }

 .background3{
    background-color: black !important;
 }