.caixa{
    background-image:
    url("https://imgur.com/4Vt4yKL.png") !important;
    background-repeat: no-repeat !important;
   
}


.titulo{
    color: #8b0000 !important;
   font-weight: bold !important;
}

.botao{
    border-color: #8b0000 !important;
    background-color: #8b0000 !important;
    color: white !important;
    margin-block-end: 3px !important;
}

.postagens{
    background-color: black;
}

.efeito-vidro {
    background: rgba( 255, 255, 255, 0.1 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
    backdrop-filter: blur( 10.5px ) !important;
    -webkit-backdrop-filter: blur( 10.5px ) !important;
  }
