.background2{
    background-color: #cec091;
    min-height: 110vh;
}

.imagem2{
    background-image: url(https://imgur.com/aMTyrae.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 121vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
    color: black !important;
 }

 .form2{
    background-color: #e9e3ce;
    border-color: black;
 }

 .button1{
    background-color: #8b0000 !important;
 }

 .button2{
    margin-right: 20px !important;
    background-color: black !important;
 }

 